.node-type-landing-page .node-landing-page img {
	margin: 0;
	padding: 0;
	float: none;
	width: auto;
	margin-left: 0 !important;
}
.node-type-landing-page .node-landing-page p {
	width: auto;
	padding-left: 0;
	padding-right: 0;
	float: none;
}
#opa-container .opa-comment{background:transparent !important;}
.opa-interview-controls > div:last-child {
  background: #fff;
  margin: -1%;
  padding: 0 9% 40px 9% !important;
  max-width: 632px;
  box-sizing: border-box;
	justify-content: flex-start !important;
}
.opa-interview-controls > div:last-child div {
	margin: 0 10px !important;
}
